@import '../_variables'
header
  background: $black
  overflow: hidden
  position: absolute
  position: fixed
  width: 100%
  top: 0
  h1
    margin: 0
    float: left
    a
      display: block
      text-indent: -1234em
      background: url(/images/logo-small.png)
      height: 26px
      width: 100px
      padding: 20px
      background-repeat: no-repeat
      background-position: center 21px
      &:hover
        background-color: #444
  nav a
    margin: 0
    color: $white
    font-size: 21px
    font-family: $intro-font
    display: block
    float: left
    text-decoration: none
    padding: 20px
    &:hover
      background: #444
