@import '../_variables'

.section__container
  width: 920px
  margin: 0 auto
  padding: 110px 0

.section__title
  font-size: 48px
  padding: 20px 30px
  background: black
  color: white
  margin: 0 0 60px
  float: left

.section__body
  padding: 20px 30px
  width: 510px

#showreel
  background-color: $pink
  background: url(/images/showreel-bg-pattern.svg) repeat center center
  .showreel__player
    background: #000
    color: white
    text-align: center
    line-height: 450px

#cv
  background: $red
  .section__title, .section__body
    background: $black
    color: $white

#about
  background: $black
  background: url(/images/bio.jpg)
  background-position: center center
  .section__title, .section__body
    background: rgba(255, 255, 0, 0.8)
    color: $black
    a
      color: $black

#equipment
  background: $white
  .section__title
    background: $pink
    color: $black

#contact
  background: $black
  .section__title, .section__body
    background: $red
    color: $white
